################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ArendApp/FileContentIndex/3e137c53-1290-485c-a1bb-88c8fef38414.vsidx
